version: '3.8'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "0.0.0.0:9200:9200"
    networks:
      - elastic

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.0
    volumes:
      - ./logstash-es.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./test-logs.json:/test-logs.json
    depends_on:
      - elasticsearch
    networks:
      - elastic

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - XPACK_SECURITY_ENABLED=false
    ports:
      - "0.0.0.0:5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elastic

networks:
  elastic:
    driver: bridge
